# Jira Credentials
JIRA_DOMAIN=your-domain.atlassian.net
JIRA_EMAIL=your-email@example.com
JIRA_API_TOKEN=your-api-token

# Azure DevOps (ADO) Credentials
ADO_ORGANIZATION=your-organization-name
ADO_PAT=your-personal-access-token

# X-Ray Data (If we are connecting to XRay via Jira)
# XRAY_CLIENT_ID=
# XRAY_CLIENT_SECRET=
